/*------------------------- Layout styles ------------------------*/
body {
	background:url(../images/bg-body.jpg);
	margin:auto;
	width:980px;
}
a {
	outline:none;
}
a img {
	border:0;
	display:block;
}
.border {
	position:relative;
	margin: 25px 0;
	-moz-box-shadow:    0px 0px 3px 4px #c49da5;
	-webkit-box-shadow: 0px 0px 3px 4px #c49da5;
	box-shadow:         0px 0px 3px 4px #c49da5;
	background:#f0e5e7;
}
.page {
	width:auto;
	margin:0 auto;
	overflow:hidden;
}
#bg {
	background:url(../images/bg-sidebar.jpg);
	height: 100%;
	left: 0;
	margin: 0;
	position: absolute;
	text-indent: -99999px;
	width: 230px;
	z-index: 0;

}
/*------------------------- Fonts ------------------------*/
@font-face {
	font-family: 'Conv_Muli-Italic';
	src: url('../fonts/Muli-Italic.eot');
	src: url('../fonts/Muli-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-Italic.woff') format('woff'), url('../fonts/Muli-Italic.ttf') format('truetype'), url('../fonts/Muli-Italic.svg#Muli-Italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Muli-Regular';
	src: url('../fonts/Muli-Regular.eot');
	src: url('../fonts/Muli-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-Regular.woff') format('woff'), url('../fonts/Muli-Regular.ttf') format('truetype'), url('../fonts/Muli-Regular.svg#Muli-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*------------------------- Header ------------------------*/
.sidebar {
	width:229px;
	float:left;
	height:auto;
	position: relative;
	margin-top: 50px;
}
.sidebar ul {
	padding:0;
	margin:0;
	list-style:none;
}
.sidebar ul li:first-child {
	padding-top:0;
}
.sidebar ul li {
	text-align:right;
	padding:29px 27px 0 0;
}
.sidebar ul li.selected a, .sidebar ul li a:hover {
	color:#56343b;
}
.sidebar ul li a {
	font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size:24px;
	color:#87515c;
	font-weight:normal;
	text-transform:uppercase;
	text-decoration:none;
	line-height:30px;
	text-shadow:0 1px 0 #dfdfdf;
}
/*------------------------- Body ------------------------*/
.footer {
	font-family: 'Conv_Muli-Regular';
	font-size:8px;
	color:#693f47;
	float:right;
}
.body {
	float:left;
	width:700px;
	position: relative;
	height:auto;
	padding: 25px 25px 0px 25px;
	border-color: #c49da5;
	border-style: none none none solid;
	border-width: 1px;
}
.body div {
	margin:0 0 0 0;
	background:#ffffff;
	-moz-box-shadow: 	0 0 5px 3px #e2ced2;
	-webkit-box-shadow: 0 0 5px 3px #e2ced2;
	box-shadow: 		0 0 5px 3px #e2ced2;
	overflow:hidden;
	min-height:260px;
}
.body div h2 {
	font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 26px;
	font-weight: normal;
	line-height: 30px;
	text-decoration: none;
	text-transform: uppercase;
	color: #7b4a54;
	padding:36px 0 0 0;
	margin:0;
	text-align:center;
}
.body div h3 {
	font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 20px;
	font-weight: normal;
	line-height: 30px;
	text-decoration: none;
	text-transform: uppercase;
	color: #7b4a54;
	padding:12px 0 0 0;
	margin:0;
	text-align:center;
} 
.body div h4 {
	background: url("../images/border.jpg") repeat-x scroll right center transparent;
	width:auto;
	overflow:hidden;
	margin:40px 30px 24px 30px;
	padding: 0 0 2px 0;
}
.body div h4 span {
	background-color: #FFFFFF;
	color: #7b4a54;
	display: inline;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: normal;
	line-height:24px;
	margin:0;
	padding:0 36px 0 0;
}
.body div h5 {
	color: #2d2d2d;
	font-family: 'Conv_Muli-Regular';
	font-size: 16px;
	font-weight: bold;
	line-height:24px;
	margin:0;
	padding:0 0 0 30px;
}
.body div h5 span {
	display:inline;
	float:right;
	padding:0 30px 0 0;
}
.body div h6 {
	color: #595959;
	font-family: 'Conv_Muli-Regular';
	font-size: 16px;
	font-weight: bold;
	line-height:24px;
	margin:0;
	padding:8px 0 0 30px;
}
.body div h6 span {
	display:inline;
	float:right;
	padding:0 30px 0 0;
}
.body div p {
	font-family: 'Conv_Muli-Regular';
	font-size:16px;
	line-height:24px;
	color:#595959;
	padding:12px 30px 0px 30px;
	margin: 0;
}
.body div p a {
	color:#2d2d2d;
}
.body div p a:hover {
	color:#000000;
}
.body div ul {
	font-family: 'Conv_Muli-Regular';
	font-size:16px;
	line-height:24px;
	color:#595959;
	margin:0 30px 0 44px;
	padding:8px 0 0 0;
}
.body div ul li {
	padding-left:12px;
}
.body div div {
	background:none;
	box-shadow:none;
	margin: 0 21px;
}
.body div div p {
	padding:0;
}
.body div div ul {
	margin:0;
	padding:4px 0 7px;
	list-style:none;
	overflow:hidden;
}
.body div div ul li:first-child {
	margin:0;
}
.body div div ul li {
	float:left;
	height: 257px;
	width: 217px;
	position:relative;
	margin:0 0 0 7px;
}
.body div div ul li a {
	height: 257px;
	width: 217px;
	display:inline-block;
	text-decoration:none;
}
.body div div ul li a span:hover {
	color: #919191;
}
.body div div ul li a span {
	color:#7c7c7c;
	font-size:24px;
	text-transform:uppercase;
	font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	text-decoration:none;
	position:relative;
	float:right;
	top: 210px;
	right:16px;
}